<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="sign">
		<![CDATA[
			insert into user_member (user_id, user_pw, user_name, user_gender, user_birth, user_location, hobby)
			values(#{user_id}, #{user_pw}, #{user_name}, #{user_gender}, #{user_birth}, #{user_location}, #{hobby})
		]]>
	</insert>
	<!-- 로그인 -->
	<select id="login" resultType="string">
		<![CDATA[
			select user_pw
			from user_member
			where user_id = #{user_id} 
		]]>
	</select>
	<!-- ID check Ajax -->
	<select id="checkID" resultType="int">
		<![CDATA[
			select case when count(*) > 0 then 1 else 0 end as result
			from user_member
			where user_id = #{user_id}
		]]>
	</select>
	
	<select id="userInfo" resultType="com.project.domain.MemberVO">
		select * 
		from  user_member
		where user_id = #{user_id}
	</select>
	
</mapper>

