<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AdminMapper">
	<!-- 페이징 처리 getUser -->
	<select id="getUser" resultType="com.project.domain.MemberVO">
		<![CDATA[    
			select user_id, user_name, user_gender, user_birth, user_location, hobby
			from 
			(
				select rownum rn, user_id, user_name, user_gender, to_char(user_birth,'YYYY-MM-DD') as user_birth, user_location, hobby 
				from user_member
				where authority in ('ROLE_USER')
				and rownum<=#{pageNum}*#{amount}
			)
			where rn>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	<!-- 회원 목록 전체 개수 구하기 -->
	<select id="getTotal" resultType="int">
		select count(*)
		from user_member
	</select>
	
	<select id="getType" resultType="com.project.domain.TypeDTO">
		select count(case when meet_type='공부' then meet_type end) study,
			count(case when meet_type='운동' then meet_type end) sports,
			count(case when meet_type='클래스' then meet_type end) classes,
			count(case when meet_type='봉사' then meet_type end) volunteer,
			count(*) total
		from meeting
	</select>
	
	<delete id="deleteUser">
		delete 
		from user_member
		where user_id = #{user_id}
	</delete>
	
	<select id="getAdmin" resultType="com.project.domain.MemberVO">
		select user_id, authority 
		from user_member
		where authority in ('ROLE_ADMIN', 'ROLE_MANAGER')
	</select>
	
	<insert id="insertAdmin">
		<![CDATA[    
			insert into user_member(user_id, user_pw, user_name, user_gender, user_birth, user_location, authority)
			values(#{user_id},#{user_id},'admin','admin',SYSDATE + 1,'admin','ROLE_MANAGER')
		]]>
	</insert>
	
	<delete id="deleteAdmin">
		delete
		from user_member
		where user_id = #{admin_id}
	</delete>
	
	<update id="updateAdmin">
		update user_member
		set user_pw = #{user_pw}
		where user_id = #{user_id}
	</update>
</mapper>